.mainHome {
  background-color: #f5f8fa;
  height: 100%;
  width: 100%;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  position: relative;
  right: 60px;
  padding: 30px;
  box-sizing: border-box;
}
.topBar {
  margin-bottom: 60px;
}
.Welcome {
  font-family: Rounded_Elegance;
  margin-bottom: 30px;
}
.Medium {
  display: flex;
  width: 1260px;
  margin-bottom: 75px;
}

.DiaryContainer {
  display: flex;
  padding-right: 140px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.planTitle {
  font-family: Rounded_Elegance;
  margin-bottom: 30px;
}
.planSection {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.Gestion {
  display: flex;
  align-items: center;
  cursor: pointer;
}

h4 {
  font-family: Rounded_Elegance;
  font-weight: 500;
}
