.mainHome {
  background-color: #f5f8fa;
  height: 100%;
  width: 100%;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  position: relative;
  right: 60px;
}
.Welcome {
  font-family: Rounded_Elegance;
}
.chart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: solid;
  width: 560px;
}
.Medium {
  display: flex;
  width: 1260px;
}
.GroupMeta {
  width: 330px;
  border: solid;
  margin-left: 50px;
}
