* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.card {
  background-color: white;
  border-radius: 20px;
  display: flex;
  max-width: 263px;
  min-width: 263px;
  height: 138px;
  padding: 16px;
  gap: 12px;
  box-sizing: border-box;
}

.number-square {
  background: linear-gradient(to bottom, #cc66ff 0%, #0099ff 100%);
  width: 100%;
  border-radius: 16px;
}

.number-container {
  font-size: 39px;
  height: 70px;
  text-align: center;
  border-radius: 100%;
  padding: 15px;
  position: relative;
  margin: 0 auto;
  background-color: white;
  width: 70px;
  top: 18px;
  color: red;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.info-title {
  font-family: Rounded_Elegance;
  font-weight: bold;
  width: 50%;
  font-size: 14px;
  margin-bottom: 4px;
  width: 100%;
}

.info-number {
  font-family: Rounded_Elegance;
  font-weight: bold;
  width: 50%;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
}
