.izqMain {
  background-color: #2b2e43;
  height: 100%;
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 70px 10px 10px;
  box-sizing: border-box;
}
.topH {
  width: 100%;
  font-family: Rounded_Elegance;
  color: gray;
  align-items: center;
  text-align: center;
  margin-top: 25px;
  line-height: 10px;
}
.elements {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.bottomIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.topIcons {
  display: flex;
  gap: 90px;
  flex-direction: column;
  cursor: pointer;
}

.LogoKET {
  text-align: center;
  font-family: Rounded_Elegance;
  font-weight: bold;
  font-size: 40px;
}

.OtherColor {
  color: #f36725;
}

.MiniText {
  font-size: 8px;
}
